/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css reset end*/

/*全域設定-width:960px*/


a{
	text-decoration: none;
}

.wrap{
	max-width: 1024px;
	margin: 0 auto;
	font-family:  "MicrosoftJhengHeiRegular","微軟正黑體","Arial";
	background-color: #EFE9E7;
	color: #3D1101;
}

.clear{
	clear: both;
}

.content{
	margin: 25px 0;
}

.footer{
	padding-top: 25px;
}

a{
	cursor: pointer;
}

input{
	cursor: pointer;
}

/*漢堡選單樣式*/
.burger {
  width: 33px;
  margin: 15px 25px;
  cursor: pointer;
  float: right;
  display: none;
}

.burger-top,.burger-bottom,.burger-middle {
  height: 4px;
  background: #fff;
  margin-bottom: 6px;
}

.aside{
	width: 320px;
	position: absolute;
	top: 55px;
	background: rgba(0,0,0,0.9);
	z-index: 9;	
	display: none;
}

.aside li{
	border-bottom: 1px solid #ffff;
	padding: 20px 25px;
	text-align: center;
}

.aside a{
	color: #ffff;
}	

@media (max-width: 376px) {
	.logo{
		flex: left;
	}
	.burger{
		display: block;
	}
	/*漢堡選單-觸發*/
	.open .burger-top{
		-webkit-transform: rotate(45deg);/* Safari 和 Chrome */
 		-moz-transform: rotate(45deg); /* Firefox */
 		-ms-transform: rotate(45deg);/* Internet Explorer */
		-o-transform: rotate(45deg); /* Opera */
		transform: rotate(45deg);
		margin-top: 10px;
	}

	.open .burger-middle{
		-webkit-transform: scale(0);/* Safari 和 Chrome */
  		-moz-transform: scale(0);/* Firefox */
  		-ms-transform: scale(0);/* Internet Explorer */
  		-o-transform: scale(0);/* Opera */
  		transform: scale(0);
	}

	.open .burger-bottom{
  		-webkit-transform: rotate(-45deg);/* Safari 和 Chrome */
  		-moz-transform: rotate(-45deg);/* Firefox */
  		-ms-transform: rotate(-45deg);/* Internet Explorer */
  		-o-transform: rotate(-45deg);/* Opera */
  		transform: rotate(-405deg);
  		margin-top: -20px;
	}
	.open .aside{
		display: block;
		width: 100%;
	}
	.aside li{
		padding: 6% 2%;
	}
}

/*共同項目-表頭設定*/

.header{
	background-image: url(../images/header_desktop.png);
	height: 420px;
	position: relative;
}

@media (max-width: 768px) {
	.header{
		background-size: 100% 100%;
	}
}

@media (max-width: 376px) {
	.header{
		background-image: url(../images/header_mobile.png);
		background-size: 100% 100%;
	}	
}

.logo{
	background: rgba(0,0,0,0.75);
	height: 56px;
}

.logo h1{
	float: left;
	margin: 16px 0 16px 42px;
}

.logo h1 a{
	background-image: url(../images/logo_w.svg);
	width: 120px;
	height: 24px;
	display: block;
	text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    background-repeat: no-repeat;
}

.logo ul{
	float: right;
	margin: 16px 48px;
}

.logo li{
	float: left;
	padding-left: 30px;
}

.logo li a{
	color: #FFFFFF;
}

@media (max-width: 376px){
	.logo h1{
		margin: 4%;
	}
	.logo ul{
		display: none;
	}
}

.banner{
	width: 460px;
	height: 152px;
	background: rgba(0,0,0,0.35);
	position: absolute;
	top: 123px;
	left: 295px;
	color: #EFE9E7;
}

@media (max-width: 768px) {
	.banner{
		left: 20%;
		height: auto;
	}
}

@media (max-width: 376px) {
	.banner{
		left: -10%;
	}
	.banner span{
		display: block;
		padding-bottom: 2%;
	}
}

.banner h2{
	font-size: 36px;
	text-align: center;
	padding: 20px 42px 16px 22px;
}
.banner p{
	text-align: center;
	padding: 0 134px 26px 134px;
	line-height: 25px;
}

/*共同項目-表尾設定*/

.about-hex{
	width: 250px;
	float: left;
	margin: 0 45px;
}

.about-hex h3{
	font-size: 24px;
	padding-bottom: 16px;
}

.contact-hex{
	width: 250px;
	float: left;
}

.contact-hex ul{
	list-style: disc;
	margin: 0 20px;
}

.contact-hex h3{
	font-size: 24px;
	padding-bottom: 16px;
}

.hex-link{
	width: 300px;
	float: right;
}
.hex-link ul{
	text-align: right;
	margin: 22px 55px;
}
.hex-link li{
	display: inline-block;
	padding: 5px;
}

@media (max-width: 768px) {
	.about-hex{
		max-width: 25%;
		margin: 0 4%;
		padding-bottom: 5%;
	}
	.contact-hex{
		max-width: 25%;
	}
	.hex-link img{
		float: right;
		margin: 0 6%;
	}
	.hex-link ul{
		float: right;
		margin: 2% 5%;
	}
}

@media (max-width: 376px) {
	.about-hex{
		max-width: 100%;
		margin: 5% 15%;
	}
	.contact-hex{
		max-width: 100%;
		margin: 5% 15%;
	}
	.hex-link{
		margin: 2% 0;
		float: right;
	}
}


/*index頁-gototop按鈕*/

.backtotop input{
	width: 50px;
	height: 45px;
	background-color: #EFE9E7;
	border-radius: 3px;
	border: 1px solid #EFE9E7;
	color: #3D1101;
	position: fixed;
	right: 0;
	bottom: 0;  
}

@media (max-width: 376px) {
	.backtotop input{
		display: none;
	}
}

/*index-關於好吃的秘訣*/

.feature{
	float: left;
	margin: 0 20px;
	position: relative;
}

.feature li{
	float: left;
	width: 260px;
	height: 350px;
	margin: 0 30px;
}

.feature h3{
	text-align: center;
}
.feature img{
	margin: 0 25px;
}

@media (max-width: 768px) {
	.feature {
		margin: 0 auto;
	}
	.feature li{
		max-width: 31.33%;
		height: auto;
		margin: 0 1%;
	}
	.feature img{
		margin: 0 10%;
	}
}

@media (max-width: 376px) {
	.feature{
		float: none;
		max-width: 100%;
	}
	.feature li{
		float: none;
	}
}


/*index-分隔線CODE*/
.line{
	width: 461px;
	margin: 50px 282px 60px 281px;
	border: 1px solid #979797;
}

@media (max-width: 768px) {
	.line{
		margin: 8% 20%;
	}
}
@media (max-width: 376px) {
	.line{
		display: none;
	}
}

.feature-about{
	background-color: #EFE9E7 ;
	width: 200px;
	position: absolute;
	top: 20px;
	left: 390px;
	padding: 0 15px;
}

.feature-about h3{
	font-size: 20px;
	line-height: 32px;
	font-weight: bold;
}

@media (max-width: 768px) {
	.feature-about{
		left: 34%;
	}
}

@media (max-width: 376px) {
	.feature-about{
		top: -10%;
		left: 17%;
	}
}

.feature-info h3{
	font-size: 18px;
	margin: 20px 0;
}
.feature-info p{
	text-align: justify; /*chrome*/
	text-justify: distribute; /*firefox,ie,edge */
}

@media (max-width: 768px) {
	.feature-info h3{
		margin: 10% 0;
	}
	.feature-info p{
		text-align: left;
		padding: 0 10%;
	}
}

@media (max-width: 376px) {
	.feature-info {
		margin: 40% 15% 10% 15%;
	}
	.feature-info h3{
		margin: 5%;
	}
	.feature-info p{
		margin: 5%;
	}
	.feature-info li{
		max-width: 100%;
	}
}


/*index-關於廚師*/

.aboutchef{
	margin: 50px 0;
	background-color: #3D1101;
	height: 460px;
}
.aboutchef img{
	margin: 0 42px;
	float: left;
}

.aboutchef-info{
	width: 400px;
	float: left;
	margin: 80px 0;
	color: #EFE9E7;
}

.aboutchef-info h3{
	font-size: 20px;
}

.aboutchef-info span{
	font-size: 16px;
	line-height: 32px;
}

.aboutchef-info p{
	margin: 16px 0;
	line-height: 20px;
}

@media (max-width: 768px) {
	.aboutchef{
		margin: 5% 0;
	}
	.aboutchef img{
		margin: 0 1%;
		max-width: 100%;
	}
	.aboutchef-info{
		max-width: 35%;
		padding: 1% 0;
		margin: 2% 0;
	}
	.aboutchef-info p{
		margin: 1% 0;
	}
}

@media (max-width: 376px) {
	.aboutchef img{
		margin: 0 auto;
	}
	.aboutchef-info{
		max-width: 80%;
		background-color: #3D1101;
		height: auto;
		padding: 5% 10%;
	}
}

/*index-客戶意見回饋*/

.comment h3{
	text-align: center;
	font-size: 24px;
	padding-bottom: 51px;
	font-weight: bold;
}
.comment ul{
	margin: 0 30px;
}
.comment li{
	width: 310px;
	float: left;
	display: inline-block;
}

.comment li img{
	float: left;
	margin: 0 15px;
	padding-bottom: 70px;
}

.comment li h4{
	font-size: 18px;
	margin: 24px 5px;
}

.comment span{
	float: right;
	padding: 16px 0;
}

@media (max-width: 768px) {
	.comment li{
		max-width: 33%;
	}
	.comment li img{
		padding-bottom: 50%;
	}
}

@media (max-width: 376px) {
	.comment h3{
		margin: 5% 0;
	}
	.comment li{
		max-width: 100%;
	}
}

/*index主頁-訂位表單*/

.booking{
	margin: 50px 0;
	background-color: #FAFAFA ;
}

.booking img{
	float: left;
	margin: 0 35px;
}

.booking h3{
	text-align: center;
	font-size: 24px;
	padding: 34px 0;
	line-height: 35px;
	font-weight: bold;
}

.booking label{
	display: block;
	padding: 10px 0 5px 0;
	font-family: PingFangTC-Light;
}

.booking input{
	width: 450px;
	height: 32px;
	margin-bottom: 5px;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px solid gray;
	font-family: PingFangTC-Light;
}

@media (max-width: 768px) {
	.booking{
		margin: 5% 0;
	}
	.booking h3{
		padding: 3% 0;
	}
	.booking img{
		max-width: 55%;
		margin: 0 3%;
	}
	.booking input{
		width: 33%;
		padding: 0 1%;
	}
	.booking label{
		padding: 0.5%;	
	}
}

@media (max-width: 376px) {
	.booking img{
		max-width: 100%;
		margin: 5% auto;
	}
	.booking label{
		margin: 2%;
	}
	.booking input{
		margin: 0 3%;
		width: 90%;
	}
}

/*index主頁-訂位表單(單選樣式)*/
.setup {
	display: inline-block;
}

.setup span{
	float: left;
	margin: 13px 0;
}

.setup input{
	float: left;
	width: 20px;
	height: 45px;
	margin: 0 15px;
}

@media (max-width: 768px) {
	.setup span{
		margin: 10% 0;
	}
}

@media (max-width: 376px) {
	.setup span{
		padding-top: 10%;
		padding-left: 15%;
	}
	.setup input{
		margin: 0 auto;
	}
}


/*index主頁-訂位表單(按鈕樣式)*/
.btn input{
	width: 80px;
	height: 35px;
	margin: 0 10px 56px 10px;
	background-color: #A9A9A9;
	float: right;
	color: #FFFFFF;
	border: 1px solid #A9A9A9;
}

.btn input:hover{
	background-color: #F56C23;
	border: 1px solid #F56C23;
}

/*LOGIN頁-登入表單*/

.form-login{
	width: 320px;
	margin: 20px auto;
}

.form-login h2{
	font-size: 48px;
	line-height: 25px;
	text-align: center;
	padding-top: 50px;
	font-weight: bold;
}

.form-login span{
	font-size: 20px;
}

.form-login h3{
	text-align: center;
	font-weight: bolder;

}

.form-login form{
	border-top: 3px solid #FF5E45;
	border-radius: 5px;
	margin: 20px 0;
	padding: 0 10px;
	-webkit-box-shadow: 5px 5px 5px gray; /*Chrome*/
    -ms-box-shadow: 5px 5px 5px gray;　　/*IE9*/
    box-shadow: 5px 5px 5px gray;
}

.form-login input{
	width: 100%;
}

.form-login >form span{
	font-size: 14px;
	color: #FF5E45;
	display: block;
}

.form-login .pure-form-stacked label{
	margin: 1em 0;
}

/*LOGIN頁-login-btn按鈕+hover特效*/
.form-login .login-btn{
	width: 125px;
	height: 32px;
	margin: 25px 10px 10px 10px;
	background-color: #A9A9A9;
	border: 1px solid #A9A9A9; 
	color: #FFFFFF;
	border-radius: 3px;
}

.form-login .login-btn:hover{
	background-color: #F56C23;
	border: 1px solid #F56C23;
}


/*LOGIN頁-input插入圖片*/
#email{
	background-image: url(../images/mail.png);
	background-position: 3% 50%;
	background-repeat: no-repeat;
}
#password{
	background-image: url(../images/lock.png);
	background-position: 3% 50%;
	background-repeat: no-repeat;
}

/*cart頁左側欄選單*/

.sidebar{
	margin: 0 25px;
	width: 220px;
	float: left;
}

.sidebar h3{
	font-size: 20px;
	padding: 0 0 20px 5px;
}

.sidebar li{
	padding: 10px 0;
	border-bottom: 1px solid #3D1101; 
}

.sidebar a{
	color: #3D1101; 
}

.sidebar a:hover {
	color: #FFFF; 
}

.sidebar li:hover {
	background-color: #3D1101;
}

/*cart頁-收尋框*/

.search {
  position: relative;
  float: left;
  margin: 0 20px;
}

.searchTerm {
  float: left;
  width: 460px;
  border: 2px solid #3D1101;
  padding: 5px;
  height: 20px;

}
.searchButton {
  position: absolute;  
  right: -10px;
  width: 40px;
  height: 34px;
  border: 1px solid #3D1101;
  background: #3D1101;
  color: #fff;
  border-radius: 3px;
}

/*cart頁-收尋框加上放大鏡*/
#magnifying-glass{
  font-size: 2em; /* This controls the size. */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border: 0.1em solid #FFFF;
  position: relative;
  border-radius: 0.35em;
}
#magnifying-glass::before{
  content: "";
  display: inline-block;
  position: absolute;
  right: -0.25em;
  bottom: -0.1em;
  border-width: 0;
  background: #FFFF;
  width: 0.35em;
  height: 0.08em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

/*cart頁-菜單區*/
.menu{
	float: left;
	width: 730px;
	margin: 15px 10px;
}

.menu ul{
	margin: 26px 0;
}

.menu li{
	float: left;
	width: 220px;
	height: 280px;
	margin: 15px 10px;
	-webkit-box-shadow: 5px 5px 5px gray; /*Chrome*/
    -ms-box-shadow: 5px 5px 5px gray;　　/*IE9*/
    box-shadow: 5px 5px 5px gray;
    position: relative;					
}

.menu h3{
	padding: 15px 0;
	font-size: 20px;
	text-align: center;
}

.menu span{
	font-size: 12px;
}

.menu p{
	font-size: 24px;
	font-weight: bold;
	padding: 15px 0;
}

/*cart頁-菜單區中間線*/
.menu-line{
	width: 91px;
	border: 1px solid black;
	margin: 15px 65px;
}
/*cart頁-菜單區加入購物車按鈕*/
.menu li input{
	margin: 0 10px;
	width: 200px;
	height: 28px;
	background-color: #EFE9E7;
	border: 2px solid #3D1101;
	color: #3D1101;
	border-radius: 2px;
}

.menu li input:hover{
	border: 2px solid  #F56C23;
	color: #F56C23;
}

/*cart頁-菜單區加入ribbon*/

.ribbon-wrapper-green {
  	width: 85px;
  	height: 88px;
  	overflow: hidden;
  	position: absolute;
  	top: -3px;
 	right: -3px;
 	z-index: 8;
}

.ribbon-green {
  	text-align: center;
  	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  	-webkit-transform: rotate(45deg);
  	-moz-transform:    rotate(45deg);
  	-ms-transform:     rotate(45deg);
  	-o-transform:      rotate(45deg);
 	 position: relative;
  	padding: 7px 0;
  	left: -5px;
  	top: 15px;
  	width: 120px;
  	background-color: #00CC99 ;
  	color: #FFFF;
 	 -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  	-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  	box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  	content: "";
  	border-top:   3px solid #00CC99;   
  	border-left:  2px solid transparent;
  	border-right: 2px solid transparent;
  	position:absolute;
 	bottom: -3px;
}

.ribbon-green:before {
  	left: 0;
}
.ribbon-green:after {
  	right: 0;
}

/*cart頁-菜單區加入愛心*/

.menu li{
	position: relative;
}
#heart {
	position: absolute;
	top: 5px;
	z-index: 9;
}
#heart:before,
#heart:after {
	position: absolute;
    content: "";
    left: 18px;
    top: 0;
    width: 20px;
    height: 30px;
    background: #FFFF;
    border-color: #FFFF;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 45px 45px 0 0 ;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
#heart:after {
	left: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin :100% 100%;
	}
